@font-face {
    font-family: 'TechnoHideo';
    src: url(../source/TechnoHideo.ttf);
}
@font-face {
    font-family: 'cuyabra-Regular.ttf';
    src: url(../source/cuyabra-Regular.ttf);
}

body {
    background-image: url(https://smamashin.ru/assets/images/raiden.gif);
    background-attachment: fixed;
    background-color: rgba(5, 5, 5, 0.866);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'TechnoHideo';
}
header {
    margin-top: 0;
    display: grid;
    place-items: center;
    font-size: 24px;
    margin-bottom: 10%;
}
h3 {
    color: #fff;
    font-size: 24px;
    box-shadow: 0 0 6vh #fff;
}
.btn-back {
    text-align: center;
    margin: 3%;
    text-decoration: none;
    color: #fff;
    border: black 1.5px solid;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.573);
    padding: 15px;
    font-size: 34px;
    width: 7%;
}
.btn-back:hover {
    color: pink;
    text-decoration: underline pink;
    transition: all .5s ease;
}
.pass-generator {
    display: grid;
    place-items: center;
}
.input-password {
    margin-top: 1%;
    color: #fff;
    border: none;
    background: transparent;
    outline: none;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border: rgba(5, 74, 27, 0.573) 1.5px solid;
    border-radius: 10px;
    background-color: rgba(5, 74, 27, 0.573);
    box-shadow: 0 0 6vh rgba(5, 74, 27, 0.573);
    padding: 15px;
    width: 15%;
    user-select: all;
}
.btn-gen {
    text-align: center;
    margin: 1.5% auto;
    width: 25%;
    background-color: rgb(36, 34, 34);
    height: 75px;
    font-size: 24px;
    padding: 25px;
    outline: none;
    border: none;
    text-transform: uppercase;
    color: #fff;
    border: black 1.5px solid;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 15px;
    font-family: 'TechnoHideo';
}
.btn-gen:hover {
    color: rgba(5, 74, 27, 0.573);
    background-color: rgba(0, 0, 0, 0.722);
    transition: all .5s ease;
}
.btn-gen:active {
    transform: rotate(1deg);
    transition: all .1s ease;
}
.warning {
    text-align: center;
    margin: 1.5% auto;
    width: 25%;
    background-color: rgb(36, 34, 34);
    height: 75px;
    font-size: 24px;
    padding: 25px;
    border-radius: 35px;
    outline: none;
    border: none;
    text-transform: uppercase;
    color: #fff;
    border: black 1.5px solid;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 15px;
    font-family: 'cuyabra-Regular';
}

@media screen and (min-width: 280px) and (max-width: 1024px)
  {
    .btn-back {
        width: auto;
        font-size: 25px;
    }
    .input-password {
        width: auto;
    }
    .btn-gen {
        width: auto;
    }
    .warning {
        width: auto;
        font-size: 15px;
    }
    h3 {
        box-shadow: none;
    }
 }